<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <h2>Cocktails (<%= @cocktails.count %>)</h2>
      <hr>
      <%= link_to "New Cocktail", new_cocktail_path, class: "btn btn-primary" %>
      <hr>
      <div>
        <% @cocktails.each do |c| %>
        <div>
          <%= link_to c.name, cocktail_path(c) %>
        </div>
        <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>
